}

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  

  .contener {
    background-color: #ffffff;
    padding-top:100px;
    padding-left: 200px;
    padding-bottom: 60px;
    font-size: 20px;
    margin-left: 200px;
  }
  .nenu li{
  display: inline-block;
  padding: 0px 5px;
  }
  .nenu li a:hover{
    color: darkgray;
  }
  button{
     padding: 9px 25px;
     background-color: rgb(156, 156, 156);
     border: none;
     border-radius: 50px;
     cursor: pointer;
     transition: all 0.3s ease 0s;
     color: rgb(0, 0, 0);
  }
  button:hover{
    background-color: rgb(167, 164, 164);
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
.row{
    padding-left: 360px;
    color: black;
   
}
  
  .column {
    float: left;
    padding-left: 40px;
  
 
  }
.img{
    padding-top: 30px;
    border: 10px;
    
}
  
 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    height: 500px;
    margin-left: 200px;
    color: black;
  }
  .footer p{
    margin-left: 300px;
    text-decoration: none;
    color: black;

  }
  .menu .Vat a{
    float: left;
  }
  hr{
    width: 70%;
    margin-left: 250px;
    margin-right: 100px;
  }
  .bot{
    color: black;
    margin-left: 300px;
  }
  .bot li{
    padding: 20px 20px;
    line-height: 60px;
    display: inline;
  }
  .bot li a{
    color: black;
  }
  .bot li a:hover{
    color: rgb(95, 95, 95);
  }
  .cuoi{
    color: black;
    margin-left: 300px;
  }
  .cuoi li{
    padding: 5px 5px;
    
    display: inline;
  }
  .cuoi li a{
    color: black;
  }
  .cuoi li a:hover{
    color: rgb(87, 87, 87);
  }

  @media (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
